<template>
    <div id="player" class="p-0 m-0">
        <img src="../../public/images/player.png" class="player w-100" alt="">
    </div>
</template>

<script>
export default {

}
</script>

<style>
#player{
    position: fixed;
    bottom: 0px;
    z-index: 99;
}
</style>
