<template>
  <div id="sidebar">
    <img src="../../public/images/content-sidebar.png" alt="" class="img-sidebar">
  </div>
</template>

<script>
export default {};
</script>

<style>
#sidebar {
  background-color: rgb(15, 14, 3);
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 99;
  height: 100vh;
}
.img-sidebar {
  margin-right: 10px;
}
</style>
